.kiv {
    background-color: antiquewhite;
}


.kepekdiv{
    display: flex;
    
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    
}
.kepek{  
    
    
}

img{
    width: 200px;
    flex: 0 0 100%;
}


@media only screen and (max-width: 700px) {
    
    .kepekdiv{
        flex-direction: column;
        flex: 0 0 100%;
    }
    
    
}

